.container {
    width: 600px;
    height: 375px;
    overflow: hidden;
    position: relative;
    border: 1px solid #000;
}

.list {
    position: absolute;
    width: 12000px;
    z-index: 1;
}

.list img {
    width: 600px;
    float: left;
}

.button {
    position: absolute;
    bottom: 20px;
    left: 210px;
    z-index: 2;
}

.button li {
    cursor: pointer;
    float: left;
    border: 1px solid #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #333;
    margin-right: 5px;
    list-style: none;
}

.button .light {
    background: #0f0;
}

.arrow {
    position: absolute;
    cursor: pointer;
    float: left;
    display: block;
    width: 15px;
    height: 15px;
    z-index:4;
    border-radius: 15px;
    background-color: yellow;
    top: 160px;
}
#prev {
    left:5px;
}

#next {
    right:5px;
}